<div class="container py-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="mb-0">My Orders</h2>

    <a routerLink="/" class="btn btn-outline-dark"> Continue Shopping </a>
  </div>

  <!-- No Orders -->

  <div *ngIf="orders.length === 0" class="text-center py-5">
    <div class="fs-1 mb-3">📦</div>

    <h4>No orders yet</h4>

    <p class="text-muted">Your orders will appear here after you make a purchase.</p>

    <a routerLink="/" class="btn btn-primary"> Start Shopping </a>
  </div>

  <!-- Orders -->

  <div *ngFor="let order of orders" class="card mb-4">
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col-md-4">
          <small class="text-muted"> Order </small>

          <div class="fw-bold">#{{ order.orderId }}</div>
        </div>

        <div class="col-md-4">
          <small class="text-muted"> Order Date </small>

          <div>
            {{ order.orderDate | date: 'dd MMM yyyy, hh:mm a' }}
          </div>
        </div>

        <div class="col-md-4 text-md-end">
          <span class="badge bg-warning text-dark">
            {{ order.orderStatus }}
          </span>
          <a [routerLink]="['/order-details', order.orderId]" class="btn btn-sm ms-3">
            View Details
          </a>
        </div>
      </div>
    </div>

    <div class="card-body">
      <!-- Products -->

      <div *ngFor="let item of order.items" class="d-flex align-items-center border-bottom py-3">
        <img
          [src]="'assets/images/products/' + item.imageUrl"
          [alt]="item.productName"
          width="60"
          height="60"
          class="object-fit-cover rounded me-3"
        />

        <div class="flex-grow-1">
          <h6 class="mb-1">
            {{ item.productName }}
          </h6>

          <small class="text-muted"> ₹{{ item.price }} × {{ item.quantity }} </small>
        </div>

        <strong> ₹{{ item.subTotal }} </strong>
      </div>

      <!-- Order Total -->

      <div class="d-flex justify-content-between mt-4">
        <span> Payment </span>

        <span>
          {{ order.paymentMethod }}
        </span>
      </div>

      <div class="d-flex justify-content-between mt-2">
        <span> Payment Status </span>

        <span>
          {{ order.paymentStatus }}
        </span>
      </div>

      <div class="d-flex justify-content-between mt-3">
        <strong> Total </strong>

        <strong> ₹{{ order.totalAmount }} </strong>
      </div>
    </div>
  </div>
</div>
